:root{
    --primary-color: #000000;
    --bg-color: #b3da09;
    --primary-text-color:gray;
}
body{
    background-color: var(--primary-color);
    
}
/* h1{
    color: var(--secondary-color);
} */
.object-fit-contain{
    width: 100%;
}
.bg{
    background-color: black;
}
.navbar-toggler-icon{

}
.text-color{
    color: var(--primary-text-color);
}
.bg-color{
    background-color: black;
}
.bg-color:hover{
    background-color: var(--bg-color);
}
.font-size{
    font-size: 25px;
}